parameters:
    level: 1
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    ignoreErrors:
        # Technically $value could be `null` (there's no restriction on what the user can pass in), which would fail
        # the `isset` check, so leaving this as-is.
        -
            message: '#Variable \$value in isset\(\) always exists and is not nullable\.#'
            path: %currentWorkingDirectory%/src/Zend/Rest/Server.php
